/*-------------------------------------------------------------------------------------------*/
/*- MEDIA QUERIES ---------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
/*------------------------------------------------*/
/* layouts smaller than 600px, iPhone and mobiles */
@media only screen and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 600px) { 
	html { -webkit-text-size-adjust: none }
	body { padding: 0px }
	#header-container {
		border-top-width: 2px;
		padding: 0px;
		margin: 0px;
	}
	#header {
		padding: 0px;
		margin: 0px;
		position: relative;
	}
	#widget-block { padding: 20px 20px 0px }
	.double-cloumn { padding: 20px 20px 0px }
	.double-cloumn #left-column {
		clear: both;
		float: none;
		width: 100%;
		margin: 0px 0px 30px;
	}
	.double-cloumn #right-column {
		clear: both;
		float: none;
		width: 100%;
		margin-bottom: 20px;
	}
	#footer-container { padding: 20px 0 }
	/*---------------------------------------*/
	/*- NAVIGATION --------------------------*/
	#menu-drop-button {
		z-index: 5;
		display: block;
		height: 35px;
		width: 35px;
		margin: 0px;
		position: absolute;
		top: 50px;
		right: 20px;
		background: #fff url(images/layout/drop-down.png) center no-repeat;
		border: 1px solid #e6e6e6;
	}
	p.demo_store { display: none }
	/*----------------------------*/
	/*- SLIDER TEXT OVERLAY ------*/
	.slider-block { padding-bottom: 20px }
	.feature {
		max-width: 600px;
		margin-left: 20px;
		margin-right: 20px;
	}
	.feature .left-column { width: 100% }
	.feature .left-column img { width: 100% }
	.feature .right-column { display: none }
	.feature .left-column .post-title { padding: 15px 20px }
	.left-column  p { display: none }
	.overlay h3 {
		font-weight: 100;
		font-size: 25px;
		line-height: 30px;
	}
	.overlay h3 a {
		display: inline-block;
		padding: 10px 10px 10px 10px;
		background: #fff;
		color: #333;
		text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
	}
	.overlay h3 a:hover { color: #cc3c24 }
	/*---------------------*/
	/*- SLIDER CONTROLS ---*/
	.slider-block { padding: 0px 0px 30px }
	.controls {
		width: 100px;
		position: absolute;
		top: 10px;
		left: 10px;
		z-index: 3;
	}
	/*---------------------*/
	/*- SLIDER BUTTONS ----*/
	.feature .left-column .next,
	.feature .left-column .previous { display: block }
	.slider .next,
	.slider .previous {
		display: block;
		float: left width: 30px;
		height: 30px;
		margin: 0px 5px 0px 0px;
	}
	.slider .next { float: right }
	/*---------------------*/
	/*- SLIDER DOTS -------*/
	.slider-dots { display: none }
	/*-------------------------------------------*/
	/*- CONTENT WIDGET  -------------------------*/
	.content-widget li {
		float: none;
		width: 100%;
		margin: 0 0 30px 0;
	}
	#widget-block .products li img { width: 100% }
	#widget-block .four-column li,
	#widget-block .four-column .products li {
		width: 100%;
		margin-right: 0px;
		float: none;
		overflow: hidden;
	}
	#widget-block .three-column li,
	#widget-block .three-column .products li {
		width: 100%;
		margin-right: 0px;
		float: none;
		overflow: hidden;
	}
	/*-------------------------------------------*/
	/*- TEAM  -----------------------------------*/
	.four-column.team .column { width: 100% }
	.single .team .post-image {
		float: none;
		width: 100%;
	}
	.team .post-content {
		width: auto;
		padding: 0px;
	}
	.single .team-content {
		float: none;
		width: 100%;
	}
	/*-------------------------------------------*/
	/*- PRODUCTS PAGE ---------------------------*/
	.slider {
		width: auto;
		max-width: 280px;
		margin-bottom: 20px;
	}
	.slider li { max-width: 280px }
	.gallery-container img { }
	.product-header { margin-bottom: 0px }
	.gallery-slider {
		float: none;
		width: 100%;
		clear: both;
		margin-bottom: 20px;
	}
	.product-content {
		float: none;
		width: 100%;
		clear: both;
	}
	.products-shop li {
		float: none;
		width: 100%;
		margin: 0 0 30px 0;
	}
	span.onsale {
		width: auto;
		height: auto;
		padding: 3px 8px;
		top: 0;
		right: 0;
		font-size: 11px;
		line-height: 20px;
		border-radius: 0;
	}
	div.product .woocommerce_tabs ul.tabs li { padding: 3px 6px }
	div.product .woocommerce_tabs ul.tabs li a { font-size: 12px }
	.copy .button,
	.button,
	#submit,
	.submit_button,
	.submitbutton,
	.gform_footer input.button { font-size: 12px }
	.related .products li,
	.upsells .products li {
		width: 100%;
		clear: both;
	}
	.related .products li img,
	.upsells .products li img {
		max-width: 100%;
		height: auto;
	}
	/*---------------------------------------*/
	/*- BLOGGING ----------------------------*/
	.social { display: none }
	.post-content { padding: 10px }
	/*--------------------------*/
	/*- COMMENTS ---------------*/
	#comments { padding: 0px }
	#comments .comments-title { font-size: 18px }
	.commentlist .avatar { display: none }
	.comment { padding: 0 0 20px }
	.comment .children {
		margin: 20px 0 0;
		position: relative;
		background: rgba(255, 255, 255, 0.9);
		overflow: hidden;
	}
	.comment .children .comment { background: none }
	.comment .children .comment .comment { background: #f0f0f0 }
	#respond #reply-title { font-size: 18px }
	/*---------------------------------------*/
	/*- RIGHT COLUMN ------------------------*/
	#right-column ul.widget-list li.widget {
		margin: 0px 0px 30px;
		padding: 0px;
	}
	#right-column ul.widget-list li.widget:last-child { margin-bottom: 0px }
	#right-column ul.widget-list li.widget li {
		padding: 5px 0px;
		margin: 0px;
		background: none;
	}
	/*---------------------------------------*/
	/*- FOOTER ------------------------------*/
	#footer ul { padding: 0px }
	#footer ul li.column {
		float: none;
		width: auto;
		padding: 0px;
		margin-bottom: 30px;
	}
	#footer ul li.column:last-child { margin-bottom: 0px }
	#footer ul li.column li:last-child {
		margin: 0px;
		padding: 0px;
		border-bottom: none;
	}
	#footer h4 { margin-bottom: 15px }
	.footer-text { text-align: center }
	.footer-text p,
	.footer-text .obox-credit { float: none }
	/*---------------------------------------*/
	/*- eCOMMERCE ---------------------------*/
	.copy .col-1,
	.copy .col-2 {
		width: 100%;
		clear: both;
	}
	.copy .form-row {
		clear: both;
		float: none;
	}
	.form-row-first,
	.form-row-last { width: 100% }
	#shiptobilling {
		width: 100%;
		margin-bottom: 20px;
	}
	.cart-collaterals .cross-sells,
	.cart-collaterals .cart_totals,
	.cart-collaterals .shipping_calculator {
		float: none;
		width: 100%;
		text-align: left;
	}
	table.shop_table {
		clear: both;
		float: none;
		width: 100%;
	}
	#payment {
		clear: both;
		float: none;
		width: 100%;
	}
	#left-column .woocommerce-result-count {
		float: none;
		margin-bottom: 10px;
		padding: 0px;
	}
	#left-column .woocommerce-ordering {
		float: none;
		text-align: left;
		margin-bottom: 15px !important;
		overflow: hidden;
	}
}
/*---------------*/
/* iPad PORTRAIT */
@media only screen and (max-width: 768px) and (min-width: 481px) {
	.slider-block { padding: 0px 0px 60px }
	.feature {
		max-width: 768px;
		margin-left: 20px;
		margin-right: 20px;
	}
	.feature .left-column { width: 100% }
	.feature .left-column img { width: 100% }
	.feature .right-column { display: none }
	.feature .left-column .post-title { padding: 15px 20px }
	.feature .left-column  p { display: none }
	.feature .left-column .next,
	.feature .left-column .previous { display: block }
	/*ul#nav{clear: left; float: none; position: relative; padding: 0px; margin: 0px;}*/
}