
	/*--------------------------*/
	/*- SOCIAL ICONS ----------*/
	.social-icons{display: inline-block; margin: 0 -8px -8px 0; overflow: hidden;}
	.social-icons li{float: left; margin: 0px 8px 8px 0px !important; padding: 0px !important; list-style-type: none; border-bottom: none !important;}
	.social-icons li a{display: block; width: 32px; height: 32px; padding: 0px; margin: 0px; text-indent: -999px; overflow: hidden;}
	
	.social-icons .facebook {background: url("images/new/social-facebook.png") no-repeat;}
	.social-icons .twitter {background: url("images/new/social-twitter.png") no-repeat;}
	.social-icons .instagram {background: url("images/new/social-instagram.png") no-repeat;}
	.social-icons .googleplus{background: url("images/new/social-google+.png") no-repeat;}

	/*.social-icons .facebook{background: url(images/layout/social-icons/facebook-32.png) no-repeat;}
	
	.social-icons .twitter{background: url(images/layout/social-icons/twitter-32.png) no-repeat;}
	.social-icons .youtube{background: url(images/layout/social-icons/youtube-32.png) no-repeat;}
	.social-icons .vimeo{background: url(images/layout/social-icons/vimeo-32.png) no-repeat;}
	.social-icons .skype{background: url(images/layout/social-icons/skype-32.png) no-repeat;}
	.social-icons .tumblr{background: url(images/layout/social-icons/tumblr-32.png) no-repeat;}
	.social-icons .linkedin{background: url(images/layout/social-icons/linkedin-32.png) no-repeat;}
	.social-icons .fivehundredpx{background: url(images/layout/social-icons/500px-32.png) no-repeat;}
	.social-icons .aim{background: url(images/layout/social-icons/aim-32.png) no-repeat;}
	.social-icons .android{background: url(images/layout/social-icons/android-32.png) no-repeat;}
	.social-icons .badoo{background: url(images/layout/social-icons/badoo-32.png) no-repeat;}
	.social-icons .dailybooth{background: url(images/layout/social-icons/dailybooth-32.png) no-repeat;}
	.social-icons .dribbble{background: url(images/layout/social-icons/dribbble-32.png) no-repeat;}
	.social-icons .emailz{background: url(images/layout/social-icons/email-32.png) no-repeat;}
	.social-icons .foursquare{background: url(images/layout/social-icons/foursquare-32.png) no-repeat;}
	.social-icons .github{background: url(images/layout/social-icons/github-32.png) no-repeat;}
	.social-icons .hipstamatic{background: url(images/layout/social-icons/hipstamatic-32.png) no-repeat;}
	.social-icons .icq{background: url(images/layout/social-icons/icq-32.png) no-repeat;}
	.social-icons .instagram{background: url(images/layout/social-icons/instagram-32.png) no-repeat;}
	.social-icons .lastfm{background: url(images/layout/social-icons/lastfm-32.png) no-repeat;}
	.social-icons .path{background: url(images/layout/social-icons/path-32.png) no-repeat;}
	.social-icons .pinterest{background: url(images/layout/social-icons/pinterest-32.png) no-repeat;}
	.social-icons .quora{background: url(images/layout/social-icons/quora-32.png) no-repeat;}
	.social-icons .rdio{background: url(images/layout/social-icons/rdio-32.png) no-repeat;}
	.social-icons .reddit{background: url(images/layout/social-icons/reddit-32.png) no-repeat;}
	.social-icons .rss{background: url(images/layout/social-icons/rss-32.png) no-repeat;}
	.social-icons .spotify{background: url(images/layout/social-icons/spotify-32.png) no-repeat;}
	.social-icons .thefancy{background: url(images/layout/social-icons/thefancy-32.png) no-repeat;}
	.social-icons .xbox{background: url(images/layout/social-icons/xbox-32.png) no-repeat;}
	.social-icons .feedly{background: url(images/layout/social-icons/feedly-32.png) no-repeat;} 
	.social-icons .zerply{background: url(images/layout/social-icons/zerply-32.png) no-repeat;}
	.social-icons .kiva{background: url(images/layout/social-icons/kiva-32.png) no-repeat;}
	.social-icons .picasa{background: url(images/layout/social-icons/picasa-32.png) no-repeat;}
	.social-icons .kickstarter{background: url(images/layout/social-icons/kickstarter-32.png) no-repeat;}
	.social-icons .envato{background: url(images/layout/social-icons/envato-32.png) no-repeat;}
	.social-icons .flickr{background: url(images/layout/social-icons/flickr-32.png) no-repeat;}
	.social-icons .soundcloud{background: url(images/layout/social-icons/soundcloud-32.png) no-repeat;}*/