<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing duplicate indicators...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing terms for `Product Categories` taxonomy...</div>
<div class="progress-msg">Composing terms for `Product Tags` taxonomy...</div>
<div class="progress-msg">Composing custom parameters...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">Composing product data...</div>
<div class="progress-msg">Composing variations attributes...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `12 Pcs 3D Cube Design Wall Panel`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `12 Pcs 3D Cube Design Wall Panel`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `12 Pcs 3D Cube Design Wall Panel - WALLPAN-CUBE`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `12 Pcs 3D Cube Design Wall Panel`</div>
<div class="progress-msg"><b>CREATING</b> `12 Pcs 3D Cube Design Wall Panel` `Product`</div>
<div class="progress-msg">Associate post `12 Pcs 3D Cube Design Wall Panel` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.dropshipzone.com.au/media/catalog/product/W/A/WALLPAN-CUBE-00.jpg` for `12 Pcs 3D Cube Design Wall Panel` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image WALLPAN-CUBE-00.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://www.dropshipzone.com.au/media/catalog/product/W/A/WALLPAN-CUBE-00.jpg`</div>
<div class="progress-msg">- Image `http://www.dropshipzone.com.au/media/catalog/product/W/A/WALLPAN-CUBE-00.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `https://www.blindscity.com.au/wp-content/uploads/2017/04/WALLPAN-CUBE-00.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `https://www.blindscity.com.au/wp-content/uploads/2017/04/WALLPAN-CUBE-00.jpg`</div>
<div class="progress-msg">- Importing image `http://www.dropshipzone.com.au/media/catalog/product/W/A/WALLPAN-CUBE-01.jpg` for `12 Pcs 3D Cube Design Wall Panel` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image WALLPAN-CUBE-01.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://www.dropshipzone.com.au/media/catalog/product/W/A/WALLPAN-CUBE-01.jpg`</div>
<div class="progress-msg">- Image `http://www.dropshipzone.com.au/media/catalog/product/W/A/WALLPAN-CUBE-01.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `https://www.blindscity.com.au/wp-content/uploads/2017/04/WALLPAN-CUBE-01.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `https://www.blindscity.com.au/wp-content/uploads/2017/04/WALLPAN-CUBE-01.jpg`</div>
<div class="progress-msg">- Importing image `http://www.dropshipzone.com.au/media/catalog/product/W/A/WALLPAN-CUBE-02.jpg` for `12 Pcs 3D Cube Design Wall Panel` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image WALLPAN-CUBE-02.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://www.dropshipzone.com.au/media/catalog/product/W/A/WALLPAN-CUBE-02.jpg`</div>
<div class="progress-msg">- Image `http://www.dropshipzone.com.au/media/catalog/product/W/A/WALLPAN-CUBE-02.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `https://www.blindscity.com.au/wp-content/uploads/2017/04/WALLPAN-CUBE-02.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `https://www.blindscity.com.au/wp-content/uploads/2017/04/WALLPAN-CUBE-02.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Wall Panels`, duplicate detected. Importing Product to existing `Wall Panels` product_cat, ID 485, slug `wall-panels` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fixed Product`, duplicate detected. Importing Product to existing `Fixed Product` product_cat, ID 479, slug `fixed-product` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Dont Show on Homepage`, duplicate detected. Importing Product to existing `Dont Show On Homepage` product_cat, ID 482, slug `dont-show-on-homepage` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `12 Pcs 3D Cube Design Wall Panel` `Product` (ID: 2910)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #2</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `12 Pcs 3D Ellip Design Wall Panel`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `12 Pcs 3D Ellip Design Wall Panel`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `12 Pcs 3D Ellip Design Wall Panel - WALLPAN-ELLIP`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `12 Pcs 3D Ellip Design Wall Panel`</div>
<div class="progress-msg"><b>CREATING</b> `12 Pcs 3D Ellip Design Wall Panel` `Product`</div>
<div class="progress-msg">Associate post `12 Pcs 3D Ellip Design Wall Panel` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.dropshipzone.com.au/media/catalog/product/W/A/WALLPAN-ELLIP-00.jpg` for `12 Pcs 3D Ellip Design Wall Panel` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image WALLPAN-ELLIP-00.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://www.dropshipzone.com.au/media/catalog/product/W/A/WALLPAN-ELLIP-00.jpg`</div>
<div class="progress-msg">- Image `http://www.dropshipzone.com.au/media/catalog/product/W/A/WALLPAN-ELLIP-00.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `https://www.blindscity.com.au/wp-content/uploads/2017/04/WALLPAN-ELLIP-00.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `https://www.blindscity.com.au/wp-content/uploads/2017/04/WALLPAN-ELLIP-00.jpg`</div>
<div class="progress-msg">- Importing image `http://www.dropshipzone.com.au/media/catalog/product/W/A/WALLPAN-ELLIP-01.jpg` for `12 Pcs 3D Ellip Design Wall Panel` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image WALLPAN-ELLIP-01.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://www.dropshipzone.com.au/media/catalog/product/W/A/WALLPAN-ELLIP-01.jpg`</div>
<div class="progress-msg">- Image `http://www.dropshipzone.com.au/media/catalog/product/W/A/WALLPAN-ELLIP-01.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `https://www.blindscity.com.au/wp-content/uploads/2017/04/WALLPAN-ELLIP-01.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `https://www.blindscity.com.au/wp-content/uploads/2017/04/WALLPAN-ELLIP-01.jpg`</div>
<div class="progress-msg">- Importing image `http://www.dropshipzone.com.au/media/catalog/product/W/A/WALLPAN-ELLIP-02.jpg` for `12 Pcs 3D Ellip Design Wall Panel` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image WALLPAN-ELLIP-02.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://www.dropshipzone.com.au/media/catalog/product/W/A/WALLPAN-ELLIP-02.jpg`</div>
<div class="progress-msg">- Image `http://www.dropshipzone.com.au/media/catalog/product/W/A/WALLPAN-ELLIP-02.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `https://www.blindscity.com.au/wp-content/uploads/2017/04/WALLPAN-ELLIP-02.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `https://www.blindscity.com.au/wp-content/uploads/2017/04/WALLPAN-ELLIP-02.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Wall Panels`, duplicate detected. Importing Product to existing `Wall Panels` product_cat, ID 485, slug `wall-panels` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fixed Product`, duplicate detected. Importing Product to existing `Fixed Product` product_cat, ID 479, slug `fixed-product` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Dont Show on Homepage`, duplicate detected. Importing Product to existing `Dont Show On Homepage` product_cat, ID 482, slug `dont-show-on-homepage` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `12 Pcs 3D Ellip Design Wall Panel` `Product` (ID: 2914)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #3</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `12 Pcs 3D Pebble Design Wall Panel`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `12 Pcs 3D Pebble Design Wall Panel`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `12 Pcs 3D Pebble Design Wall Panel - WALLPAN-PEBBLE`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `12 Pcs 3D Pebble Design Wall Panel`</div>
<div class="progress-msg"><b>CREATING</b> `12 Pcs 3D Pebble Design Wall Panel` `Product`</div>
<div class="progress-msg">Associate post `12 Pcs 3D Pebble Design Wall Panel` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.dropshipzone.com.au/media/catalog/product/W/A/WALLPAN-PEBBLE-00.jpg` for `12 Pcs 3D Pebble Design Wall Panel` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image WALLPAN-PEBBLE-00.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://www.dropshipzone.com.au/media/catalog/product/W/A/WALLPAN-PEBBLE-00.jpg`</div>
<div class="progress-msg">- Image `http://www.dropshipzone.com.au/media/catalog/product/W/A/WALLPAN-PEBBLE-00.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `https://www.blindscity.com.au/wp-content/uploads/2017/04/WALLPAN-PEBBLE-00.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `https://www.blindscity.com.au/wp-content/uploads/2017/04/WALLPAN-PEBBLE-00.jpg`</div>
<div class="progress-msg">- Importing image `http://www.dropshipzone.com.au/media/catalog/product/W/A/WALLPAN-PEBBLE-01.jpg` for `12 Pcs 3D Pebble Design Wall Panel` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image WALLPAN-PEBBLE-01.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://www.dropshipzone.com.au/media/catalog/product/W/A/WALLPAN-PEBBLE-01.jpg`</div>
<div class="progress-msg">- Image `http://www.dropshipzone.com.au/media/catalog/product/W/A/WALLPAN-PEBBLE-01.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `https://www.blindscity.com.au/wp-content/uploads/2017/04/WALLPAN-PEBBLE-01.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `https://www.blindscity.com.au/wp-content/uploads/2017/04/WALLPAN-PEBBLE-01.jpg`</div>
<div class="progress-msg">- Importing image `http://www.dropshipzone.com.au/media/catalog/product/W/A/WALLPAN-PEBBLE-02.jpg` for `12 Pcs 3D Pebble Design Wall Panel` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image WALLPAN-PEBBLE-02.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://www.dropshipzone.com.au/media/catalog/product/W/A/WALLPAN-PEBBLE-02.jpg`</div>
<div class="progress-msg">- Image `http://www.dropshipzone.com.au/media/catalog/product/W/A/WALLPAN-PEBBLE-02.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `https://www.blindscity.com.au/wp-content/uploads/2017/04/WALLPAN-PEBBLE-02.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `https://www.blindscity.com.au/wp-content/uploads/2017/04/WALLPAN-PEBBLE-02.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Wall Panels`, duplicate detected. Importing Product to existing `Wall Panels` product_cat, ID 485, slug `wall-panels` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fixed Product`, duplicate detected. Importing Product to existing `Fixed Product` product_cat, ID 479, slug `fixed-product` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Dont Show on Homepage`, duplicate detected. Importing Product to existing `Dont Show On Homepage` product_cat, ID 482, slug `dont-show-on-homepage` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `12 Pcs 3D Pebble Design Wall Panel` `Product` (ID: 2918)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #4</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `12 Pcs 3D Square Design Wall Panel`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `12 Pcs 3D Square Design Wall Panel`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `12 Pcs 3D Square Design Wall Panel - WALLPAN-SQUARE`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `12 Pcs 3D Square Design Wall Panel`</div>
<div class="progress-msg"><b>CREATING</b> `12 Pcs 3D Square Design Wall Panel` `Product`</div>
<div class="progress-msg">Associate post `12 Pcs 3D Square Design Wall Panel` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.dropshipzone.com.au/media/catalog/product/W/A/WALLPAN-SQUARE-00.jpg` for `12 Pcs 3D Square Design Wall Panel` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image WALLPAN-SQUARE-00.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://www.dropshipzone.com.au/media/catalog/product/W/A/WALLPAN-SQUARE-00.jpg`</div>
<div class="progress-msg">- Image `http://www.dropshipzone.com.au/media/catalog/product/W/A/WALLPAN-SQUARE-00.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `https://www.blindscity.com.au/wp-content/uploads/2017/04/WALLPAN-SQUARE-00.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `https://www.blindscity.com.au/wp-content/uploads/2017/04/WALLPAN-SQUARE-00.jpg`</div>
<div class="progress-msg">- Importing image `http://www.dropshipzone.com.au/media/catalog/product/W/A/WALLPAN-SQUARE-01.jpg` for `12 Pcs 3D Square Design Wall Panel` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image WALLPAN-SQUARE-01.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://www.dropshipzone.com.au/media/catalog/product/W/A/WALLPAN-SQUARE-01.jpg`</div>
<div class="progress-msg">- Image `http://www.dropshipzone.com.au/media/catalog/product/W/A/WALLPAN-SQUARE-01.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `https://www.blindscity.com.au/wp-content/uploads/2017/04/WALLPAN-SQUARE-01.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `https://www.blindscity.com.au/wp-content/uploads/2017/04/WALLPAN-SQUARE-01.jpg`</div>
<div class="progress-msg">- Importing image `http://www.dropshipzone.com.au/media/catalog/product/W/A/WALLPAN-SQUARE-02.jpg` for `12 Pcs 3D Square Design Wall Panel` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image WALLPAN-SQUARE-02.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://www.dropshipzone.com.au/media/catalog/product/W/A/WALLPAN-SQUARE-02.jpg`</div>
<div class="progress-msg">- Image `http://www.dropshipzone.com.au/media/catalog/product/W/A/WALLPAN-SQUARE-02.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `https://www.blindscity.com.au/wp-content/uploads/2017/04/WALLPAN-SQUARE-02.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `https://www.blindscity.com.au/wp-content/uploads/2017/04/WALLPAN-SQUARE-02.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Wall Panels`, duplicate detected. Importing Product to existing `Wall Panels` product_cat, ID 485, slug `wall-panels` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fixed Product`, duplicate detected. Importing Product to existing `Fixed Product` product_cat, ID 479, slug `fixed-product` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Dont Show on Homepage`, duplicate detected. Importing Product to existing `Dont Show On Homepage` product_cat, ID 482, slug `dont-show-on-homepage` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `12 Pcs 3D Square Design Wall Panel` `Product` (ID: 2922)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #5</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `12 Pcs 3D Tetris Design Wall Panel`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `12 Pcs 3D Tetris Design Wall Panel`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `12 Pcs 3D Tetris Design Wall Panel - WALLPAN-TETRIS`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `12 Pcs 3D Tetris Design Wall Panel`</div>
<div class="progress-msg"><b>CREATING</b> `12 Pcs 3D Tetris Design Wall Panel` `Product`</div>
<div class="progress-msg">Associate post `12 Pcs 3D Tetris Design Wall Panel` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.dropshipzone.com.au/media/catalog/product/W/A/WALLPAN-TETRIS-00.jpg` for `12 Pcs 3D Tetris Design Wall Panel` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image WALLPAN-TETRIS-00.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://www.dropshipzone.com.au/media/catalog/product/W/A/WALLPAN-TETRIS-00.jpg`</div>
<div class="progress-msg">- Image `http://www.dropshipzone.com.au/media/catalog/product/W/A/WALLPAN-TETRIS-00.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `https://www.blindscity.com.au/wp-content/uploads/2017/04/WALLPAN-TETRIS-00.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `https://www.blindscity.com.au/wp-content/uploads/2017/04/WALLPAN-TETRIS-00.jpg`</div>
<div class="progress-msg">- Importing image `http://www.dropshipzone.com.au/media/catalog/product/W/A/WALLPAN-TETRIS-01.jpg` for `12 Pcs 3D Tetris Design Wall Panel` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image WALLPAN-TETRIS-01.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://www.dropshipzone.com.au/media/catalog/product/W/A/WALLPAN-TETRIS-01.jpg`</div>
<div class="progress-msg">- Image `http://www.dropshipzone.com.au/media/catalog/product/W/A/WALLPAN-TETRIS-01.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `https://www.blindscity.com.au/wp-content/uploads/2017/04/WALLPAN-TETRIS-01.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `https://www.blindscity.com.au/wp-content/uploads/2017/04/WALLPAN-TETRIS-01.jpg`</div>
<div class="progress-msg">- Importing image `http://www.dropshipzone.com.au/media/catalog/product/W/A/WALLPAN-TETRIS-02.jpg` for `12 Pcs 3D Tetris Design Wall Panel` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image WALLPAN-TETRIS-02.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://www.dropshipzone.com.au/media/catalog/product/W/A/WALLPAN-TETRIS-02.jpg`</div>
<div class="progress-msg">- Image `http://www.dropshipzone.com.au/media/catalog/product/W/A/WALLPAN-TETRIS-02.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `https://www.blindscity.com.au/wp-content/uploads/2017/04/WALLPAN-TETRIS-02.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `https://www.blindscity.com.au/wp-content/uploads/2017/04/WALLPAN-TETRIS-02.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Wall Panels`, duplicate detected. Importing Product to existing `Wall Panels` product_cat, ID 485, slug `wall-panels` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fixed Product`, duplicate detected. Importing Product to existing `Fixed Product` product_cat, ID 479, slug `fixed-product` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Dont Show on Homepage`, duplicate detected. Importing Product to existing `Dont Show On Homepage` product_cat, ID 482, slug `dont-show-on-homepage` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `12 Pcs 3D Tetris Design Wall Panel` `Product` (ID: 2926)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
